Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python 
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. Scikit-Learn: 
    2. pandas
    3. numpy

| Data Science Tools |
|:------------------:|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**: `3 + 2` results in `5`
2. **Subtraction**: `5 - 2` results in `3`
3. **Multiplication**: `4 * 2` results in `8`
4. **Division**: `8 / 2` results in `4.0`
5. **Exponentiation**: `2 ** 3` results in `8`
6. **Modulus**: `10 % 3` results in `1`

In [29]:
(3*4)+5
# This a simple arithmetic expression to multiply then add integer

17

In [38]:
minutes = 200
hours = minutes / 60
# This will convert 200 minutes to hours by diving by 60

Objectives:

    * Python 
    * R
    * SQL

## Author:
Thom